{% extends 'base.html' %}
{% block title %} Listar deprtamentos {% endblock title %}
{% block content %} 
{% include 'includes/header.html' %}

<div class="grid-container">
    <div class="grid-x">
        <h1 class="cell">Departamentos de la empresa</h1>
        <div class="cell">
            <table>
                <tbody>
                    {% for departamentos in departamentos %}
                    <tr>
                        <td>{{ departamentos.name }}</td>
                        <td>{{ departamentos.shor_name }}</td>
                        <td><a class="button success" href="{% url 'empleados_app:empleados_area' departamentos.shor_name %}">Ver empleados</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock content %}